bleach==4.1.0
build==0.7.0
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.4
docutils==0.18
example-pkg-cecilydev @ file:///C:/Users/Cecil/Documents/packaging_tutorial/dist/example_pkg_cecilydev-0.0.1-py3-none-any.whl
idna==3.3
importlib-metadata==4.8.1
keyring==23.2.1
numpy==1.21.4
opencv-python==4.5.4.58
packaging==21.2
pep517==0.12.0
Pillow==8.4.0
pkginfo==1.7.1
Pygments==2.10.0
pyparsing==2.4.7
pytesseract==0.3.8
pywin32-ctypes==0.2.0
readme-renderer==30.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
six==1.16.0
tesseract==0.1.3
tomli==1.2.2
tqdm==4.62.3
twine==3.5.0
urllib3==1.26.7
webencodings==0.5.1
zipp==3.6.0
